/* @media only screen and (max-width: 600px) {
.container{
width: 100%;
}
}
/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
.example {background: green;}
} */
/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {
.example {background: blue;}
} */
/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {
.example {background: orange;}
} */
/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {
.col-lg-12
} */
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
h1{
  margin-top: 7px;
  margin-left: -12px;
}
h2{
  color: #144A82;
  font-size: 18px;
}
p{
  font-size: 12px;
  color: #5C5C5C;
}
.bgroung {
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #e9e9e9;
}
.container{
  /* padding-right: 0px;
  padding-left: 0px; */
  margin-right: auto;
  margin-left: auto;
  width: 1280px;
}
.container .jumbotron {
  border-radius: 0;
}
.menu h1{
  width: 175px;
  font-size: 11px;
  color: #144a82;
  font-weight: 300;
  text-align: center;
  /* margin: 0 0 0 0 !important; */
}
.ig-center{
  display: block;
  margin-right: auto;
  margin-left: auto;
  vertical-align: middle;
}
.press{
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}
.pressLink{
  color: #5C5C5C;
  text-decoration: none;
}
.box{
  border: 1px solid #CACACA;
  padding: 45px;
  height: 250px;
}
.rightPart{
  border-left: 60px;
  height: 200px;
  overflow-y: scroll;
}
.bold{
  font-weight: bold;
}
.title{
  font-size: 20px;
  color: #144A82;
  text-align: center;
  width: 100%;
  font-family: open-sans;
}
.title::before,.title::after{
  content: "";
  width:46%;
  border-bottom:1px solid #E9E9E9;
  display:inline-block;
  vertical-align:middle;
}
.title::before{
  margin-left:-100%;
}
.title::after{
  margin-right:-100%;
}
.sTitle{
  font-size: 12px;
  color: #144A82;
  text-align: center;
}
.bloc1{
  background-color: #99CA3C;
  text-align: left;
  border: 1px solid #99CA3C;
  padding: 20px 10px 20px 15px;
  height: 190px;
  margin-left: -70px;
  margin-right: 35px

}
.imgFEu{
  height: 39px;
  width: 40px;
  background: url(hp-idvehicule-sprite.png) -42px -40px;
}
.immat{
  font-size: 15px;
  color: white;
  text-align: left;
}
.Aide{
  background-color: white;
  color: #144A82;
  border: 4px solid  white;
  font-size: 15px
}
.texte{
  font-size: 10px;
  color: black;
}
.OK{
  background-color: #CACACA;
  color: white;
  border: 4px solid  #CACACA;
  font-size: 15px
}
.exemple{
  font-size: 10px;
}
.bloc2{
  background-color: #F5F5F5;
  border: 1px solid #99CA3C;
  padding: 20px 10px 20px 15px;
  height: 190px;
  margin-left: -35px;
}
.Vehicule{
  font-size: 15px;
  color: #ADADB6;
}
.imgV{
  height: 39px;
  width: 40px;
  background: url(hp-idvehicule-sprite.png) -52px -81px;
}
.texte2{
  font-size: 10px;
  color: #ADADB6;
}
.bloc3{
  background-color: #F5F5F5;
  border: 1px solid #99CA3C;
  padding: 20px 10px 20px 15px;
  height: 190px;
  margin-right: -35px;
}
.Portefeuille{
  font-size: 15px;
  color: #ADADB6;
}
.imgP{
  height: 39px;
  width: 40px;
  background: url(hp-idvehicule-sprite.png) -52px -81px;
}
.texte3{
  font-size: 10px;
  color: #ADADB6;
}

<<<<<<< HEAD
.bloc4{
  background-color: #F5F5F5;
  height: 80px;
  margin-right: -70px;
  margin-left: 35px;
}
.bloc5{
  background-color: #F5F5F5;
  height: 80px;
  margin-right: -70px;
  margin-left: 35px;
  margin-top: 30px;
}
.texte4{
  color: #144A82;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}
.devis{
  background: #99CA3C;
}
